
  body{
    background-color: #c5c9da;
    font-family: serif;
}

  #topblock{
    width: 50%; 
    margin: auto; 
    height: 20%; 
    font-family: Helvetica;
  }
  
  #nPos{
    padding-left: 60%; 
    padding-top:5%
  }

  #nMargin{
  margin:0px; 
  }

  #bodytext{
    width: 50%; 
    height: auto;
    margin: auto; 
    margin-top: 2%;
    padding-left: 2%;
  }

  .titles{
    font-family: arial;
    border-bottom: 2px solid black;
    margin: 0px;
    max-width: 150px;
    padding-top: 10px;
  }

  .words{
    font-family: arial;
    line-height:20px;
    margin: 0;
  }
  .bullets{
    font-family: arial;
    line-height:24px;
  }
  .roundedtop{
    border-radius: 10px 10px 0 0;
  }
  
  .imgstyle{

  }

  .plineheight{
     
    font-family: arial;
    margin: 0px;
    
  }
  
  .margintop{
    padding-top: 3%;
  }
